* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; 
}

body {
  background: beige; }

.change-wrapper {
  margin: 0 auto;
  text-align: center;
  height: 300px;
  width: 300px;
  
}

.change-color {
  background: yellow; 
  border-radius: 50%; 
  margin-top:40px;
}

.btn-wrapper {
  margin-top: 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center; 
}

.btn-change,
.btn-clear {
  padding: 10px 10px;
  width: 49%;

}